<!doctype html>
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>JSPlayGround Info</title>

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/css/mainTemplateCss.css" rel="stylesheet">
    </head>
    
    <body>
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <strong><span>JS</span> playground</strong>
                    </a>                    

                    <div class="d-lg-none">
                        <a href="{{ url_for('user_info') }}" class="bi-person custom-icon me-3"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('company') }}">Story</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('products') }}">Games</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            {% if logInState != 0 %}
                                <a href="{{ url_for('user_info') }}" class="bi-person custom-icon me-3"></a>
                            {% endif %}
                        </div>                                           
                    </div>
                </div>
            </nav>

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <h1><strong><span class="text-primary">JS</span> <span class="text-white">playground</span></strong>
                        <span class="d-block text-white">About Us</span>
                    </h1>
                </div>
            </header>
            
            <section class="team section-padding">
                <div class="container">
                    <div class="row">
                        <h2 class="mb-5 text-white">The meaning of <span class="text-primary">JS</span> <span class="mb-5 text-white">playground</span></h2>
                    </div>
                    <div class="team-thumb2 d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <!-- 원 3개를 세로로 배치 -->
                            <div class="d-flex flex-column me-4">
                                <div class="circle rounded-circle mb-2" style="width: 50px; height: 50px; background-color: var(--primary-color);"></div>
                                <div class="circle rounded-circle mb-2" style="width: 50px; height: 50px; background-color: var(--white-color);"></div>
                                <div class="circle rounded-circle" style="width: 50px; height: 50px; background-color: var(--p-color);"></div>
                            </div>
                            <!-- 텍스트 정보 -->
                            <div class="team-info">
                                <h2 class="text-primary">JS <span class="text-white">: JavaScript</span></h2>
                                <h2 class="mb-5 text-white">playground <span class="text-white">: for playing JavaScript games</span></h2>
                            </div>
                        </div>
                    </div>                
                    </div>
                </div>
            </section>

            <section class="team section-padding">
                <div class="container">
                    <div class="row">
                        <h2 class="mb-5 text-white">Meet our <span>web developer</span></h2>
                    </div>
                    <div class="team-thumb d-flex align-items-center">
                        <a href="https://github.com/Roooselina" target="_blank">
                            <img src="../static/images/people/Lee.png" class="img-fluid custom-circle-image team-image me-4" alt="Lee EunJeong">
                        </a>
                        <div class="team-info">
                            <h2 class="mb-0">Lee EunJeong</h2>
                            <h5 class="text-muted">SCH Computer Science and Engineering major student</h5>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 mx-auto col-11">
                            <div class="slick-testimonial-caption">
                                <h1 class="text-center text-white">Crafting Elegance with Code, One Line at a Time</h1>
                            </div>
                        </div>
                        <h2 class="text-center mb-5 text-white">For your Entertainment, <br> <span>JS</span> playground</h2>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"> <a href="{{ url_for('index') }}">JS</a> playground</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">SCH CSE_WEBPROGRAAMING</p>
                        <p class="copyright-text">20234014 LeeEunJoeng</p>
                    </div>
        
                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>
                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="{{ url_for('company') }}" class="footer-menu-link">Company Info</a></li>
                            <li class="footer-menu-item"><a href="{{ url_for('contact') }}" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>
        
                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>
                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                            <li><a href="#" class="social-icon-link bi-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>