<!doctype html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>JSPlayGround Info</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/css/mainTemplateCss.css" rel="stylesheet">
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand Logo -->
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <strong><span>JS</span> playground</strong>
                </a>

                <div class="d-lg-none">
                    <a href="{{ url_for('sign_in') }}" class="bi-person custom-icon me-3"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('company') }}">Story</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('products') }}">Games</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        {% if logInState != 0 %}
                        <a href="{{ url_for('user_info') }}" class="bi-person custom-icon me-3"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <header class="site-header section-padding-img site-header-image">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-12 header-info">
                        <h1>
                            <span class="d-block text-primary">Need help?</span>
                            <span class="d-block text-white">Email us!</span>
                        </h1>
                    </div>
                </div>
            </div>
            <img src="../static/images/people/email.gif" class="header-image img-fluid" alt="">
        </header>

        <section class="contact section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="mb-4">Please fill out <span>the form</span></h2>
                        <form class="contact-form me-lg-5 pe-lg-3" role="form">
                            <div class="form-floating">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Full name"
                                    required>
                                <label for="name">Full name</label>
                            </div>

                            <div class="form-floating my-4">
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                    placeholder="Email address" required>
                                <label for="email">Your email address</label>
                            </div>

                            <div class="form-floating my-4">
                                <input type="subject" name="subject" id="subject" class="form-control"
                                    placeholder="Subject" required>
                                <label for="subject">Subject</label>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea id="message" name="message" class="form-control"
                                    placeholder="Leave a comment here" required style="height: 160px"></textarea>
                                <label for="message">Tell us about the issue</label>
                            </div>

                            <div class="col-lg-5 col-6">
                                <button type="submit" class="form-control">Send</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12 mt-5 ms-auto">
                        <div class="row text-center">
                            <div class="col-6 border-end contact-info">
                                <h5 class="mb-3">Compnay Email</h5>
                                <h6 class="text-muted">kurocheki1@gmail.com </h6>
                            </div>

                            <div class="col-6 contact-info">
                                <h5 class="mb-3">Phone Number</h5>
                                <h6 class="text-muted">031-123-4567 </h6>
                            </div>

                            <div class="col-6 border-top border-end contact-info">
                                <h5 class="mb-3">Location</h5>
                                <a href="https://home.sch.ac.kr/sch/01/011001.jsp" class="text-muted">2,
                                    Soonchunhyang-ro, Sinchang-myeon, Asan-si, Chungcheongnam-do</a>
                            </div>

                            <div class="col-6 border-top contact-info">
                                <h6 class="mb-3">Social Media</h6>
                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-messenger"></a></li>
                                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="{{ url_for('index') }}">JS</a> playground</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">SCH CSE_WEBPROGRAAMING</p>
                    <br>
                    <p class="copyright-text">20234014 LeeEunJoeng</p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>
                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="{{ url_for('company') }}" class="footer-menu-link">Company
                                Info</a></li>
                        <li class="footer-menu-item"><a href="{{ url_for('contact') }}"
                                class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>
                    <ul class="social-icon">
                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>