<!doctype html>
<html lang="kor">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JSPlayGround Info</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mainTemplateCss.css') }}" rel="stylesheet">
    <script>
        const iframe = document.getElementById('gameIframe');
    
        iframe.addEventListener('load', function() {
            try {
                // Get the iframe's document and the canvas element
                const iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                const canvas = iframeDocument.querySelector('canvas');
    
                if (canvas) {
                    // Adjust iframe size to match the canvas size
                    iframe.style.width = canvas.offsetWidth + 'px';
                    iframe.style.height = canvas.offsetHeight + 'px';
                }
            } catch (error) {
                console.error('Error adjusting iframe size:', error);
            }
        });
    </script>

</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <strong><span>JS</span> playground</strong>
                </a>
                <div class="d-lg-none">
                    <a href="{{ url_for('user_info') }}" class="bi-person custom-icon me-3"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('company') }}">Story</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('products') }}">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-block">
                        {% if logInState != 0 %}
                        <a href="{{ url_for('user_info') }}" class="bi-person custom-icon me-3"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <header class="site-header section-padding d-flex justify-content-center align-items-center"
            style="background-image: url('../static/images/slideshow/background2.jpeg'); background-size: cover; background-position: center; position: relative;">
            <div class="hero-section container" style="position: relative; z-index: 2;">
                <div class="row">
                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary animated-text">Enjoy your</span>
                            <span class="d-block text-white animated-text">GAMES</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="gradient-overlay"></div>
        </header>
        <section class="product-detail section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="product-info d-flex">
                            <h2 class="product-title mb-0">{{product_name}}</h2>
                        </div>
                    </div>
                    <div class="team-thumb d-flex align-items-center">
                        <!-- 게임 실행 iframe -->
                        <iframe id="gameIframe" 
                            src="{{ url_for('static', filename='games/' ~ product_id ~ '.html') }}" 
                            style="border: 5px solid black; display: block; margin: 0 auto; width: 100%; height: 800px;">
                        </iframe>
                    </div>
                    
                    <div class="col-lg-6 col-12">
                        <!-- 설명 컨테이너 -->
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <!-- 게임 설명 -->
                            <div class="product-description" style="flex: 1; margin-right: 20px;">
                                <strong class="d-block mt-4 mb-2">Description</strong>
                                <p class="lead mb-5">{{product_description}}</p>
                            </div>

                            <!-- 점수 박스 -->
                            <div class="score-box"
                                style="border: 2px solid red; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; font-size: 24px;">
                                <span id="score">0</span>
                            </div>
                        </div>

                        <!-- 버튼 컨테이너 -->
                        <div class="product-cart-thumb row align-items-center mt-4">
                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <a href="{{ url_for('product_detail', product_id=product_id) }}"
                                    class="btn custom-btn gameBtn-btn2" role="button">Retry</a>
                            </div>
                            <div class="col-lg-6 col-12">
                                <a href="{{ url_for('products') }}" class="btn custom-btn gameBtn-btn1"
                                    role="button">Back to Site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="related-product section-padding border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-5">You might also like</h3>
                    </div>

                    <!-- 첫 번째 게임 -->
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="{{ url_for('product_detail', product_id=1) }}">
                                <img src="{% if product_id in [1, 2, 3] %}{{ url_for('static', filename='images/game/1.png') }}{% elif product_id in [4, 5, 6] %}{{ url_for('static', filename='images/game/4.jpg') }}{% endif %}"
                                    class="img-fluid product-image" alt="Product 1">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">Game_6_NAME</h5>
                                    <p class="product-p">Description of Game 6</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 두 번째 게임 -->
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="{{ url_for('product_detail', product_id=2) }}">
                                <img src="{% if product_id in [1, 2, 3] %}{{ url_for('static', filename='images/game/2.jpg') }}{% elif product_id in [4, 5, 6] %}{{ url_for('static', filename='images/game/5.jpg') }}{% endif %}"
                                    class="img-fluid product-image" alt="Product 2">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">Game_6_NAME</h5>
                                    <p class="product-p">Description of Game 6</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 세 번째 게임 -->
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="{{ url_for('product_detail', product_id=3) }}">
                                <img src="{% if product_id in [1, 2, 3] %}{{ url_for('static', filename='images/game/3.jpg') }}{% elif product_id in [4, 5, 6] %}{{ url_for('static', filename='images/game/6.jpg') }}{% endif %}"
                                    class="img-fluid product-image" alt="Product 3">
                            </a>
                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>
                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">Game_6_NAME</h5>
                                    <p class="product-p">Description of Game 6</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="{{ url_for('index') }}">JS</a> playground</h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">SCH CSE_WEBPROGRAMMING</p>
                    <p class="copyright-text">20234014 LeeEunJoeng</p>
                </div>
                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">Sitemap</h5>
                    <ul class="footer-menu d-flex flex-wrap">
                        <li class="footer-menu-item"><a href="{{ url_for('company') }}" class="footer-menu-link">Company
                                Info</a></li>
                        <li class="footer-menu-item"><a href="{{ url_for('contact') }}"
                                class="footer-menu-link">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>
                    <ul class="social-icon">
                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>